<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="template.css" rel="stylesheet">
        <link href="g.css" rel="stylesheet">
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>


    </head>

    <body class="d-flex h-100 text-center text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
            <h5 class="float-md-start mb-0">Book DriveTest</h5>
            <div>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="/dashboard">DASHBOARD</a>
                    <a class="nav-link" href="/g2">G2_TEST</a>
                    <a class="nav-link" href="/g">G_TEST</a>
                    <a class="nav-link" href="/login">LOGIN</a>
                </nav>
            </div>
            </header>
            <main class="form-signin">
                <form>
                    <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput_License" placeholder="name@example.com">
                    <label for="floatingInput_License">Enter License Number</label>
                  </div>
                  <div></div>
                  <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
                </form>
              </main>
              
            <div class="mt-auto text-white-50"> </div>
        </div>
    </body>
    
    <footer class="mt-auto text-white-50"></footer>
</html>
    
