
            <main class="px-3">
                <h1>Dashboard</h1>
                <p class="lead">DriveTest Booking Kiosk</p>
            </main>
            <div class="mt-auto text-white-50"> </div>
        </div>
    </body>
    
    <footer class="mt-auto text-white-50"></footer>
</html>
    
